.navbar-header a.navbar-brand {
    margin-top: -15px;
    margin-bottom: -20px;
}
h6 {
    color: #ccc;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
}
p {
    border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
    margin-left: 10px;
}
.navbar-form button {
    margin-left: 10px;
}
.toast-top-right {
    top: 70px;
}
.toast-success {
    background-color: #13987e;
}
.navbar-nav > li {
    color: #fff;
    font-size: 18px;
}
.top-padding-med {
    padding-top: 10px;
}
.margin-left-med {
    margin-left: 10px;
}

.daySelected {
    background-color: #DFE4FB;
    border: 1px solid grey !important;
}
.eventSelected {
    border: 1px solid black !important;
}

.fc-day-content:hover {
    color:white
}

.fc-day-content:hover {
    color:black
}


.fc-past {
    background-color: #F8EEB8;
}

#newEventLink {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
/*.fc-day {
    position: relative;
}*/

.modal-dialog {
    width: 750px;
}
