div.modal-header
    h2 Ny Begivenhed
div.modal-body
    div.input-group
        div Title
        input(ng-model="event.title", ng-required)
    br
    dv.input-group
        div Description
        textarea(ng-model="event.description", cols="50", rows="4")
    br
    div.input-group.col-lg-12
        div.col-lg-5(style="padding-left: 0px")
            div Start Date
            input(ng-model="event.start", datepicker-popup="{{datepicker.format}}", ng-change="changeEndDate(event.start)")
            timepicker(ng-model="event.start", ng-change="changeEndDate(event.start)", show-meridian="{{datepicker.ismeridian}}")
        div.col-lg-2
        div.col-lg-5
            div End Date
            input(ng-model="event.end", datepicker-popup="{{datepicker.format}}", min="event.start", ng-valid)
            timepicker(ng-model="event.end", show-meridian="{{datepicker.ismeridian}}")
    br
    select(ng-model="event.location._id", ng-options="location._id as location.title for location in locations")
    br
    div.panel.panel-primary
        div.panel-heading Orders
            span.glyphicon.glyphicon-plus.pull-right(ng-click="addOrder()")
        div.panel.panel-default(ng-repeat="order in event.orders")
            div.panel-heading
                input.panel-title(ng-model="order.title")
                timepicker.pull-right(ng-model="order.deliveryTime", show-meridian="{{datepicker.ismeridian}}")
            div.panel-body {{order.deliveryTime.toString()}}
                div.panel.panel-success
                    div.panel-heading Foods
                    div.panel-body
                        span.glyphicon.glyphicon-plus.pull-right(ng-click="addFood(order)")
                        div(ng-repeat="food in order.foods track by food._id")
                            select(ng-model="order.foods[$index]", ng-options="foodoption.title for foodoption in foods | filter:addedFoodFilter(order, $index)")


div.modal-footer
    button(ng-click="addEvent(event)").btn-default.btn-success.pull-left Add Event
    button(ng-click="cancel()").btn-default.btn-danger.pull-right Cancel
