doctype html
html(lang="en")
    head
        title NEvents App
        link(rel="stylesheet", href="/lib/toastr/toastr.css")
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/lib/fullcalendar/fullcalendar.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app")
        include currentUser
        include scripts