script(type="text/javascript", src="public/lib/angular/angular.js")
script(type="text/javascript", src="/angular-resource/angular-resource.js")
script(type="text/javascript", src="/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")