script(type="text/javascript", src="/lib/underscore/underscore.js")
script(type="text/javascript", src="/lib/jquery/dist/jquery.js")
script(type="text/javascript", src="/lib/jquery-ui/ui/jquery-ui.js")
script(type="text/javascript", src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/lib/toastr/toastr.js")
script(type="text/javascript", src="/lib/angular/angular.js")
script(type="text/javascript", src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript", src="/lib/angular-route/angular-route.js")
script(type="text/javascript", src="/lib/angular-ui-calendar/src/calendar.js")
script(type="text/javascript", src="/lib/fullcalendar/fullcalendar.js")
script(type="text/javascript", src="/lib/fullcalendar/gcal.js")
script(type="text/javascript", src="/lib/angular-bootstrap/ui-bootstrap.js")
script(type="text/javascript", src="/lib/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/account/neAuth.js")
script(type="text/javascript", src="/app/account/neIdentity.js")
script(type="text/javascript", src="/app/calendar/neEvent.js")
script(type="text/javascript", src="/app/location/neLocation.js")
script(type="text/javascript", src="/app/food/neFood.js")
script(type="text/javascript", src="/app/main/neMainCtrl.js")
script(type="text/javascript", src="/app/account/neNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/neCreateAccountCtrl.js")
script(type="text/javascript", src="/app/calendar/manageCalendar.js")
script(type="text/javascript", src="/app/calendar/calendarConfig.js")
script(type="text/javascript", src="/app/calendar/neCalendarCtrl.js")
script(type="text/javascript", src="/app/calendar/neNewEventCtrl.js")
script(type="text/javascript", src="/app/calendar/neEditEventCtrl.js")
script(type="text/javascript", src="/app/location/neLocationCtrl.js")
script(type="text/javascript", src="/app/location/neEditLocationCtrl.js")
script(type="text/javascript", src="/app/location/neNewLocationCtrl.js")
script(type="text/javascript", src="/app/food/neFoodCtrl.js")